.timeline {
  position: relative;
  padding-top: 100px;

  &::before {
    content: '';
    z-index: 2;
    background: #C5CAE9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 70px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    &:nth-child(even) {
      .timeline-content {
        float: right;
        padding: 40px 30px 10px;

        .date {
          right: auto;
          left: 0;
        }

        &::after {
          content: '';
          position: absolute;
          border-style: solid;
          width: 0;
          height: 0;
          top: 30px;
          left: -15px;
          border-width: 10px 15px 10px 0;
          border-color: transparent #f5f5f5 transparent transparent;
        }
      }
    }

    .timeline-img-header {
      background: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 40%)),
        url('https://picsum.photos/1000/800/?random') center center no-repeat;
      background-size: cover;
    }
  }

  .timeline-content {
    position: relative;
    z-index: 1;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);

    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      right: -15px;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent #f5f5f5;
    }
  }

  .timeline-img {
    width: 30px;
    z-index: 3;
    height: 30px;
    background: #3F51B5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }

  @media screen and (width <=768px) {
    &::before {
      z-index: 2;
      left: 50px;
    }

    .timeline-img {
      z-index: 3;
      left: 50px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
      z-index: 1;
    }

    .timeline-item:nth-child(even) .timeline-content {
      float: none;
    }

    .timeline-item:nth-child(odd) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
    }
  }
}