@use '../../common.scss' as *;
@use '../../mixins.scss' as mixins;

.timeline {
  position: relative;
  padding-top: 100px;

  &::before {
    @include mixins.center-line();
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 70px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    &:nth-child(even) {
      .timeline-content {
        float: right;
        padding: 40px 30px 10px 30px;

        .date {
          right: auto;
          left: 0;
        }

        &::after {
          @include mixins.arrow(left);
        }
      }
    }

    .timeline-img-header {
      background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.40)),
        url('https://picsum.photos/1000/800/?random') center center no-repeat;
      background-size: cover;
    }
  }

  .timeline-content {
    position: relative;
    z-index: $z-index-default;
    width: 45%;
    padding: 10px 30px;
    border-radius: $border-radius-sm;
    background: $color-bg;
    @include mixins.box-shadow;

    &::after {
      @include mixins.arrow(right);
    }
  }

  .timeline-img {
    width: $timeline-bullet-size;
    height: $timeline-bullet-size;
    z-index: $z-index-img;
    background: $color-primary;
    border-radius: 50%;
    position: absolute;
    left: $timeline-offset;
    margin-top: 24px;
    margin-left: -($timeline-bullet-size / 2);
  }

  @media screen and (width <=768px) {
    &::before {
      @include mixins.center-line(50px);
    }

    .timeline-img {
      left: 50px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }

    .timeline-item:nth-child(even) .timeline-content {
      float: none;
    }

    .timeline-item:nth-child(odd) .timeline-content::after {
      @include mixins.arrow(left);
    }
  }
}